[2018-02-12 17:09] evelinec opened #5 "Need to update to latest OL level"
The current app is run with OL v17.0.0.3, need to update app to run with latest OL release.

[2018-02-12 20:55] kinueng opened #6 "Problem with this repo being ~170MB"
# Terminal output from `git clone`
Cloning into 'src/main/content/guides/draft-guide-microprofile-faulttolerance-intro'...
remote: Counting objects: 3848, done.
remote: Compressing objects: 100% (119/119), done.
remote: Total 3848 (delta 70), reused 136 (delta 45), pack-reused 3663
Receiving objects: 100% (3848/3848), **163.06 MiB** | 2.54 MiB/s, done.

[2018-02-14 03:26] evelinec opened #9 "Peer/Content review"
- [x] The table to contents show all the heading are of the same sizes. I believe these two are sub-headings: Why use MP Fault Tolerance, Adding the @Retry and @Fallback annotations

- [x] Add a "Try what you'll build" subsection under the "Getting started" section. In there, walk the user through how to build and run everything and then demonstrate the basic functionality of your app/feature. You

[2018-02-14 05:03] evelinec commented on #9
Also consider these 2 points for the guide, if not already done so:

- [ ] Add a sentence or two after the test results saying what change a user can make to force the tests to fail. But don't be too explicit where to make this change. At this point in the guide, the users should have learned enough to make code changes themselves. It also gives them a good opportunity to debug if they have troubl

[2018-02-14 11:18] gcharters commented on #9
- [] Consider changing "Learn how to use the MicroProfile Fault Tolerance specification" to "Learn how to use MicroProfile Fault Tolerance" (the reader will use the technology, not the specification).

[2018-02-14 14:25] GraceJansen commented on #9
Please see the above commit which should have addressed everything raised in this issue.

[2018-02-14 16:54] jamiecoleman92 commented on #9
- from false to true and save the file. There is no need to restart the server.Now return (A space is required here)
- Now, navigate back to the start directory to begin. Proceed with the following two sections to add MicroProfile JWT to the back-end and basic app security to the front-end. (Why JWT???)
- This 503 HTTP response needs to be recognised and acted upon by the other microservice of our

[2018-02-14 16:55] evelinec commented on #9
Based on 2/14's draft:

- [ ] I think the "Why use MP Fault Tolerance?" section should go before "Try what you'll build"

- [ ] I wasn't being specific enough in my previous feedback, for the time estimate, I meant to say either 15 or 20 minutes sounds good. Do not use range of time.

- [ ] There are some JWT info in the "Try what you'll build" section, which I think it's probably pasted incorrect

[2018-02-14 21:41] yeekangc commented on #9
Either I am not looking at the latest version or we have issues to address still.  As for 2/14 4:26PM ET, the draft at https://qa-guides.mybluemix.net/guides/microprofile-fault_tolerance.html has these issues still:

- "Why use MP Fault Tolerance" is still under "Getting started"?  It certainly should be under "What you'll learn".

- Also, "What you'll learn" should be revised to better describe (

[2018-02-14 21:41] yeekangc commented on #9
@evelinec @jamiecoleman92, who should be assigned to this issue?

[2018-02-14 21:52] gkertaseferi commented on #9
I am currently working on this. I don't know how much I can get done now because it's late here.

[2018-02-14 21:55] evelinec commented on #9
@yeekangc Gkerta is currently working on these issues. The qa-guides site would not have these updates yet.

[2018-02-14 22:18] yeekangc commented on #9
Sure, @gkertaseferi @evelinec.  Key is to get to a working guide for tomorrow.

[2018-02-15 05:15] evelinec commented on #9
@gkertaseferi and I had incorporated most of the review feedback raised so far. I also fixed/update some obvious things in the start and finish folder according the guide, to get it closer to working.

[2018-02-15 05:15] evelinec commented on #9
@GraceJansen Can you continue with this guide at your time with the following things:

- [ ] This feedback is not handled in the 2/14's draft: Check out the latest SystemClient code and the integration with the FP app, the guide needs to be adjusted accordingly. I still see `setStatus()` and `isResponseOk()` methods that do not exist in the latest SystemClient code anymore.

- [ ] Start working wi

[2018-02-15 19:38] evelinec opened #13 "User review"
Alex's only other comments apart from the path being wrong was that it was awkward in the getting started section changing between start and finish and coming in and out of resource in order to shut the server down.

Note: an usability issue when working entirely with command lines.

[2018-02-15 22:13] evelinec opened #14 "Test failed with latest OL"
Steps to reproduce the failure:

1. Change finish/pom.xml to use the "LATEST" version of OL release:
`<artifactId>openliberty-runtime</artifactId>`
            `<version>17.0.0.3</version>`
=>
`<artifactId>openliberty-runtime</artifactId>`
            `<version>LATEST</version>`

1. Run "mvn clean install" to launch the test cases for this application.

1. You will see the test case failure.

The

[2018-02-16 16:54] Kubik42 opened #15 "Peer review"
- [x] the `start` and `finish` directories don't match after going through the guide. Specifically, the `EndpointTest` class for the inventory service in the `start` directory is entirely different than the one under the `finish` directory. The one under `start` has all tests commented out and still uses the old endpoint of "/inventory/hosts". But more importantly, `resources/META-INF/microprofile

[2018-02-20 16:01] GraceJansen commented on #15
In regards to the comments made about the tweak and add change I believe we have sorted this during the call/scrum. In regards to the comments made about the missing client and faultolerance testing directories, I cannot include empty files in the finish directory because the guide instructs the user to create the files inside them (they are not there initially). Talking to Laura, this happens in

[2018-02-20 17:35] Ahmad-Ayyoub commented on #15
I will look into the test section

[2018-02-20 21:47] evelinec commented on #15
- [ ] The SystemResource class is used throughout the guides quite a bit, I dont understand why you need to recreate it here? Perhaps you could include the file in the start directory and then just reference it, explaining the injection afterwards? Say, something like "Tweak and add : " then explain what the user just added and why its needed.
=> We had discussed this point during scrum today, and

[2018-02-20 21:49] evelinec commented on #15
- [ ] The new get() method can be simplified to just return properties, ie:
    if (systemConfig.isInMaintenance()) {
      retryCounter++;
    }

    systemClient.init(hostname);
    Properties properties = systemClient.getProperties();
    if (properties != null) {
        invList.addToInventoryList(hostname, properties);
    }
    return properties;
=> @GraceJansen can you handle this one?

[2018-02-20 21:50] evelinec commented on #15
- [ ] Perhaps you could show the dependency here.
=> I'm not sure about this one either. Perhaps @Kubik42 can explain a bit more. Thanks.

[2018-02-20 21:53] Kubik42 commented on #15
^ There was a bit in that section which talks about some pom plugin that is used to do something. I thought it would be nice to show the plugin with its whole configuration.

[2018-02-20 21:55] evelinec commented on #15
I believe the following had been fixed with the latest re-preparation of the start directory. @GraceJansen Can you double check and confirm:

Building and running the application
- [ ] Setting the property to true doesn't seem to do anything. I'm still seeing the full system properties being displayed instead of the cached ones.

Testing the application
- [ ] Missing the faulttolerance directory.

[2018-02-20 21:57] evelinec commented on #15
@Ahmad-Ayyoub for this next few days, you'd focus on the issues you owned for the other guides. I think @GraceJansen can help handle this one:

- [ ] The tests fail but no meaningful messages are displayed. You need to add a message to all of your assert calls like so: `assert...("Error occurred because", <remaining arguments>)

[2018-02-20 21:58] evelinec commented on #15
Overall, I had gone through all the feedback and updated all that were unchecked.

[2018-02-20 22:02] evelinec commented on #14
@GraceJansen can you push the code in a fork/branch and create a PR for code review? Thanks.

[2018-02-20 22:05] evelinec commented on #13
@GraceJansen can you take a first attempt on improving this usability issue? we'll go through it with the team to see what's the best approach. Thank you.

[2018-02-20 22:10] evelinec commented on #9
Remaining issue to be handled in a new issue.

[2018-02-20 22:10] #9 closed

[2018-02-20 22:12] evelinec opened #18 "You're done section can be revised"
There's one remaining issue from YK's feedback on this guide. @GraceJansen and @gkertaseferi can you see what you come up with? we can discuss further.

- [ ] "You just built and tested a MicroProfile application with MicroProfile Fault Tolerance and Open Liberty.": Should revise this? And, describe in terms of services?

[2018-02-20 22:14] evelinec commented on #6
@kinueng are we going to renaming the draft repos when we're ready to publish or we'll be creating new repos? Thanks.

[2018-02-20 22:15] evelinec commented on #5
End up to be same issue as #14. Closed.

[2018-02-20 22:15] #5 closed

[2018-02-21 17:25] GraceJansen commented on #18
You just built and tested a MicroProfile application with MicroProfile Fault Tolerance and Open Liberty. Through the use of this guide you have set up retry and fallback methods to successfully handle failures in the application and ensure that it doesn't break as a result of these failures.
Feel free to try one of the related MicroProfile guides. They demonstrate new technologies that you can lea

[2018-02-21 17:26] GraceJansen commented on #14
This should all have been resolved in my PR (see above). Please review this and close this issue.

[2018-02-21 17:28] GraceJansen commented on #15
The PR should have been updated to reflect the changes I have made - in which all of the issues raised here should be addressed. Please review this PR @Kubik42 and ensure that all of the above issues have been resolved. If this is the case please feel free to close this PR.

[2018-02-21 19:21] Kubik42 commented on #15
All of these have been addressed in #19

[2018-02-21 19:21] #15 closed

[2018-02-21 19:27] Kubik42 commented on #14
Confirmed. The tests pass with 17.0.0.4 as well as 18.0.0.1

[2018-02-21 19:27] #14 closed

[2018-02-22 16:22] Kubik42 commented on #18
This looks good^ I opened an issue to have this implemented for the rest of the guides: https://github.com/OpenLiberty/guides-common/issues/57

[2018-02-23 15:47] Kubik42 commented on #18
Update: a while back we agreed not to go into too much detail in this seciton, just simply state what the users have done using what technologies. Its the last section of the guide so nobody reads it anyway. I think what you had before is fine. Just include the " Feel free to try ..." sentence and make it into its own paragraph like:
[code]

[2018-02-26 15:14] GraceJansen commented on #18
Great, thanks @Kubik42 👍 I never changed the code so will close this issue now.

[2018-02-26 15:14] #18 closed

[2018-02-26 16:51] evelinec opened #20 "More review on 2/26's draft"
- [x] You will learn how to build fault tolerant microservices so that you can reduce the impact from failure and ensure continued operation of services. => You will learn how to build fault tolerant microservices in an inventory management application so that you can reduce the impact from failure and ensure continued operation of services.

- [x] The implementation of the application and its ser

[2018-02-26 18:58] evelinec commented on #13
Some navigation of the different folder is necessary when working directly from a command prompt, ie, to go in and out of resource to work with the property. We can improve on the changing between start and finish folder in the getting started section. This is to be done in the common adoc.

[2018-02-26 21:36] evelinec opened #21 "Test cases need to be independent"
testRetryGettingSystemProperties() sends a request to inventory service to try to get the system properties even though system service is still in maintenanace from previous test case. Then, it reads the retry counter in /inventory/retries endpoint to assert it with the number of retries happened to get the system properties from inventory service.
=> Looks like the two test cases aren't independe

[2018-02-27 14:40] GraceJansen commented on #20
I have corrected many of these issues now in the README of the master branch (see commit above). However would like more clarification on the ones I have left. For example: what do you mean @evelinec by the comment " No related guides are tagged"? does this mean there are none in this guide when there should be? Or does this mean there are some that need deleting? Please can you clarify this and t

[2018-02-27 14:49] GraceJansen commented on #20
In regards to the use of MP Config in the system service to get the system properties. After speaking with Tom, he pointed out seeing as this is part of a set of tutorials showing off the capabilities of MicroProfile, we should be using these capabilities to retrieve the system properties rather than the Java Lang functions. We can discuss this further if you would like to @evelinec.

[2018-02-27 15:59] yeekangc commented on #13
If users need to move between folders, we should make that clear in the guide and provide relevant commands if possible.

We should also take another look at the instructions to see if we can simplify and crisp them up.

Also, it is fair for us to consider an improvement down the road so users don't have to edit a file to test but a property can be set from command line.

We may need to reconcile

[2018-02-27 16:01] evelinec commented on #20
- [ ] Now navigate to the CustomConfigSource.json file in the finish/resource directory and change the property io_openliberty_guides_system_inMaintenance from false to true and save the file. => Now navigate to the finish/resource/CustomConfigSource.json file and change the property io_openliberty_guides_system_inMaintenance from false to true and save the file.

[2018-02-27 16:41] evelinec commented on #6
Following these steps fixed the problem:
git filter-branch --index-filter 'git rm --cached --ignore-unmatch <FILE/FOLDERNAME>' -- --all
rm -Rf .git/refs/original
rm -Rf .git/logs/
git gc --aggressive --prune=now

[2018-02-27 16:41] #6 closed

[2018-02-27 16:48] evelinec commented on #13
@yeekangc
Is this change sufficient for the first and second point?
Now navigate to the CustomConfigSource.json file in the finish/resource directory and change the property io_openliberty_guides_system_inMaintenance from false to true and save the file. => Now open the finish/resource/CustomConfigSource.json file and change the property io_openliberty_guides_system_inMaintenance from false to tru

[2018-02-27 17:05] yeekangc commented on #13
We should go back to Alex and gather his feedback on the proposed changes, @GraceJansen @evelinec.  If commands that will make it easier can be provided, let us consider them.

For the 3rd point, the dynamic config source can be enhanced to take a property that can be set from the command line as Liberty is started (from Maven) and a sample command be provided for that?

[2018-02-27 19:11] evelinec commented on #13
@yeekangc We'll arrange with Alex to try out the guide again when it's ready.

3rd point: the property being manipulated in this guide is after server start. It doesn't seem like a meaningful scenario to have it setup before or at server startup.

[2018-02-27 19:12] yeekangc commented on #20
I am not sure I fully follow, @GraceJansen.  Do you have an example?

[2018-02-27 19:15] yeekangc commented on #13
The team can work with Alex to arrive at the right changes or adjustments.

The point is for a way to easily update the property from command line.

[2018-02-27 19:37] evelinec commented on #13
No further changes needed in this issue. Closed.

[2018-02-27 19:37] #13 closed

[2018-02-27 20:00] evelinec commented on #20
@yeekangc we're referring to the getProperties() method in the SystemResource class. In the original app (ie, in the CDI guide), we're getting the system property by calling the java.lang.System getProperties method. Grace had changed it to use the MP Config method (code below). Looks like Tom thinks using MP Config is beneficial. Just want to get your opinion as well. Thanks.
`public Response get

[2018-02-27 20:11] yeekangc commented on #20
This changes the meaning of the SystemResource, correct?  It returns more than just the system properties?

[2018-02-27 20:35] evelinec commented on #20
Just verified the results from the two different implementations, there're more/different information being gathered by the MP Config method. For example:
[code]

@GraceJansen ^ can you check it out with Tom?

[2018-02-27 20:49] yeekangc commented on #20
That's expected since we are working with a Config object here and per spec, it merges all config sources together.  Unless we change the definition of the SystemResource, we leave it as-is.

[2018-02-27 21:02] evelinec commented on #20
@yeekangc You meant we use the original design of the SystemResource as in the cdi guide, right?

[2018-02-27 21:14] yeekangc commented on #20
The usual impl/code that we have for SystemResource, yes.

[2018-02-27 21:26] evelinec commented on #20
@GraceJansen ^ can you make the change for this guide pls? Thanks.

[2018-02-27 22:06] Ahmad-Ayyoub commented on #21
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/pull/22

[2018-02-28 09:54] GraceJansen commented on #20
Done - SystemResource back to using system lang. @yeekangc please could you help decide if we need to mention how this file has changed in the guide?

[2018-02-28 14:10] evelinec commented on #20
@GraceJansen looking at the paragraph about the SystemResource class, we don't need to make any changes in the guide for this code change.

[2018-02-28 15:20] yeekangc commented on #13
No further changes is needed because we have confirm with Alex that Alex is good with the changes delivered to address his concerns, @evelinec?

[2018-02-28 15:26] yeekangc commented on #20
Looking at the latest README in master, it seems fine in terms of covering what is in SystemResource.  Then, I am not exactly sure what your question is about, @GraceJansen.  If it is about retrieving the system properties, we should be fine.

Then, I have difficulty parsing the below:

_For ease of use, the two microservices in this application are being "served up" by the same server. This means

[2018-02-28 16:25] evelinec commented on #20
@GraceJansen

- [ ] Use the title as the team determined from the team wiki for this guide

[2018-02-28 18:57] evelinec commented on #21
The guide needs to be adjusted with this code change in the test case. @GraceJansen can you take a look? Thanks.

[2018-03-01 12:07] GraceJansen commented on #20
@evelinec this guide was already using the title determined by the team in the wiki. I am unsure what you are referring to with this comment.

[2018-03-01 12:13] GraceJansen commented on #20
@yeekangc no sorry I was referring to @evelinec 's comment above:
 "The if statement in this class now returns an error message when the inventory service is down for maintenance and calls the get() method in the InventoryManager.java class when the inventory service is up and running as normal. All references to the email configuration property have been removed from this file. => Should not have

[2018-03-01 13:13] GraceJansen commented on #20
@yeekangc is this better?
"For ease of use, the two microservices being run in this application are being "served up" by the same server. This means that one application cannot be taken down without the other. To overcome this challenge, in this guide we will use dynamic configuration properties using MicroProfile Config to dynamically take a server up and down. When the in_maintenance configurati

[2018-03-01 14:20] evelinec commented on #20
@GraceJansen I still think that the InventoryResource class can be provided.

[2018-03-01 15:12] GraceJansen commented on #21
I have now edited the guide to reflect these code changes by @Ahmad-Ayyoub in the test files. Please see commit above. This issue can now be closed.

[2018-03-01 15:12] #21 closed

[2018-03-01 15:49] GraceJansen commented on #20
@yeekangc and @evelinec I believe I have addressed the Issue I was asking about YK through discussions with Eveline and have made the appropriate changes to the code and guide. Please can you review this Eveline? and YK please could you review the paragraph above and then once this has been approved I can add it in and change the guide to include this instead. Thanks.

[2018-03-01 16:05] tevans78 opened #23 "SME FaultTolerance Guide Review"
- [x] There is a heading of `Why use MP Fault Tolerance?` … I just realised that is the first time you reference MicroProfile at all. Perhaps that should be in the title? and that heading probably shouldn’t abbreviate it

- [x] `Fault tolerance is about leveraging different strategies to guide the execution and result of some logic.` … am I reading this wrong? what do you mean by `and result of so

[2018-03-01 19:15] kinueng opened #24 "Duplicate `Getting Started` titles"
We don't need to include to include the `Getting Started` title in https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/blob/master/README.adoc#getting-started

The `Getting Started` title is already included in the imported asciidoc file
https://raw.githubusercontent.com/OpenLiberty/guides-common/master/gitclone.adoc

https://qa-guides.mybluemix.net/guides/microprofile-fau

[2018-03-01 20:56] evelinec commented on #24
Fixed.

[2018-03-01 20:56] #24 closed

[2018-03-02 09:56] tevans78 commented on #23
`link:https://raw.githubusercontent.com/OpenLiberty/guides-common/master/gitclone.adoc[]`
Link is badly formatted

[2018-03-02 10:41] GraceJansen commented on #23
Link should hopefully have been fixed now. @evelinec could you please confirm this?

[2018-03-02 14:21] GraceJansen commented on #23
With the sentence about logic I used the intro from the official eclipse website - https://projects.eclipse.org/projects/technology.microprofile/releases/fault-tolerance-1.0
Happy for this to be rephrased though.  @evelinec what are your thoughts on this?

[2018-03-02 14:23] GraceJansen commented on #23
yes there is a circuit breaker guide open and we've now added in a section in the README for all of the related guides to be listed in. I have included this guide. Thanks Tom 👍 There's also a bulkhead guide which I've referred to too. I think the fallback may also be in the circuitbreaker guide.

[2018-03-02 14:26] GraceJansen commented on #23
I've edited the title in the README from MP to MicroProfile. Thanks Tom for raising that. 👍

[2018-03-02 22:09] evelinec commented on #23
I also raised the point about the MP FT being first mentioned in the `Why use MP Fault Tolerance" section/heading in another issue, and @GraceJansen had checked it off. I don't see the changes being made. Can you explain? Thanks.

- [ ]  Under "What you'll learn", there's no mentioned of MP FT. It was just FT. The first time the MP FT appeared is in the "Why use MP Fault Tolerance?" heading and pa

[2018-03-05 18:00] evelinec commented on #23
Tom Evans [11:56 AM]
i did read through the rest of the guide and i think the only bit that still needed some discussion was whether or not the system service should use System.getProperties() or the MicroProfile Config API.

[2018-03-05 20:12] yeekangc commented on #20
@GraceJansen, as @evelinec noted in one of the PR, the title should include `@Fallback` too.

As for the below:
_For ease of use, the two microservices in this application are being "served up" by the same server. This means that one cannot be taken down without the other. To overcome this challenge, we will imitate the HTTP responses and Exceptions that would normally be executed when a server ca

[2018-03-05 22:13] evelinec commented on #20
Re-addressing this point, as some of them is not handled in the 3/5's draft:

- [ ] Need to put the common adocs, ie, gitclone, mvnbuild, mvnpackage, mvnverify, finish, etc back to this guide. For example, add include::{common-includes}/gitclone.adoc[] right after the == Getting started section. Clean up the same text that was put there. You can check out the common adoc texts here: https://raw.gi

[2018-03-06 04:32] evelinec commented on #20
@GraceJansen If you are checking email, can you take a look to see you had checked in all the changes you made for this issue? You checked off this item, and we discussed to remove the InventoryResource class in the guide, but I still see it there on the 3/5's draft. Thanks.

- [ ] The if statement in this class now returns an error message when the inventory service is down for maintenance and ca

[2018-03-06 18:54] evelinec commented on #23
Response to Tom's last feedback ^, the getProperties method in the system service is not the focus of this guide, and either approach should not impact the guide. We'll proceed forward with it. If Tom and others still think changes should be made, an issue is to be open. Thanks.

[2018-03-06 22:16] evelinec opened #26 "Review on 3/6's draft"
- [x] Whenever a request is made to the inventory service to retrieve the MP Config properties of a particular host, the inventory service communicates with the system service on that host to get these properties. => this is incorrect. Here's the correct statement: Whenever a request is made to the inventory service to retrieve the JVM system properties of a particular host, the inventory service

[2018-03-07 04:48] evelinec commented on #26
Move YK's latest comments to this issue:

- [ ] @GraceJansen, as @evelinec noted in one of the PR, the title should include @Fallback too.

- [ ] As for the below:
For ease of use, the two microservices in this application are being "served up" by the same server. This means that one cannot be taken down without the other. To overcome this challenge, we will imitate the HTTP responses and Exceptio

[2018-03-07 04:49] evelinec commented on #20
I had verified that all of the issues raised here had been handled. Closed.

[2018-03-07 04:49] #20 closed

[2018-03-07 04:50] evelinec commented on #26
@gkertaseferi can you focus on this new issue pls? Thank you.

[2018-03-08 05:01] evelinec commented on #26
Few remaining items from the previous PR:

- [ ] After changing the io_openliberty_guides_system_inMaintenance property to true, user can verify both the inventory/systems/localhost and system/properties endpoints to verify the differences. Only the system/properties is being mentioned for now.

- [ ] There're some missing backticks for program names. ie, the Status.Ok, etc

- [ ] Double check to

[2018-03-08 17:55] evelinec opened #30 "User review"
Anna did user review this guide.

Here is the feedback:

I had no problem following the guide, and everything works, once I modify pom to ignore .gitkeep. However, I get a failure in InventoryEndpointTest, with the following message:

-------------------------------------------------------------------------------
Test set: it.io.openliberty.guides.inventory.InventoryEndpointTest
------------------

[2018-03-08 18:00] evelinec opened #31 "Finalize the title and abstract"
Ref: https://ibm.ent.box.com/file/281716465645

[2018-03-08 18:57] JunyiSun opened #32 "ARTIFACT ID INCORRECT"
<artifactId>io.openliberty.guides.microprofile.faulttolerance</artifactId>

need to be fixed
https://github.com/OpenLiberty/guides-common/issues/84

[2018-03-09 04:12] evelinec commented on #31
Not finalized at this time yet.

[2018-03-09 04:13] evelinec commented on #31
@GraceJansen can you check with Graham with the latest options? Thanks.

[2018-03-09 04:14] evelinec commented on #32
@GraceJansen can you help handle this one? Thanks.

[2018-03-09 04:15] evelinec commented on #30
@GraceJansen and @gkertaseferi can you investigate this issue? Thanks.

[2018-03-09 19:23] sishida opened #37 "Correcting Passive Voice and Ambiguity"
Hi, team,

When I went through the guide, I encountered some sentences that I was unsure about. I have pointed out some lines where I think we could help make the text clearer.

Passive voice sometimes omits information, such as who or what is actually doing the action. Here are some lines that use passive voice:
- line 32
- line 34
- line 139
- The paragraph beginning with line 165 has multiple i

[2018-03-12 04:51] evelinec commented on #31
Reminder, do not check in changes in the guide directly. Create PR if any. Thanks.

[2018-03-12 04:51] evelinec commented on #30
Reminder, do not check in changes in the draft directly. Create PR if any. Thanks.

[2018-03-12 04:52] evelinec commented on #26
Reminder, do not check in changes in the guide directly. Create PR if any. Thanks.

[2018-03-12 04:53] evelinec commented on #23
Reminder, do not check in changes in the guide directly. Create PR if any. Thanks.

[2018-03-12 04:54] evelinec commented on #37
Reminder, do not check in changes in the guide directly. Create PR if any. Thanks.

[2018-03-12 14:59] #30 closed

[2018-03-12 16:06] evelinec commented on #37
Attempted to address these issues in PR review comments:

- The paragraph beginning with line 165 has multiple instances of passive voice.
- line 167: What found the status code?
- lines 248 and 252: Do we know what places the annotations?
- line 265: What is calling the the fallback method?

[2018-03-12 17:25] evelinec commented on #37
Attempted to address all the issues mentioned here on the PR review comments, except I can't find these lines:
- line 32
- line 34

[2018-03-12 19:15] sishida commented on #37
Hi, @evelinec, Please see below for the passive voice sentences. Thank you!

In line 32: [Whenever a request is made to the `inventory` service to retrieve the JVM system properties of a particular host,] the `inventory` service communicates with the `system` service on that host to get these system properties. (Only the first part of the sentence, marked in brackets, is the passive part. Who or w

[2018-03-12 20:55] evelinec commented on #37
@sishida
In line 32: [Whenever a request is made to the inventory service to retrieve the JVM system properties of a particular host,] the inventory service communicates with the system service on that host to get these system properties. (Only the first part of the sentence, marked in brackets, is the passive part. Who or what is making the request?)
=> Hm, this one is hard. Basically, it's the H

[2018-03-12 21:23] evelinec commented on #32
Since there's no update on this issue, it's now been fixed in master.

[2018-03-12 21:27] evelinec commented on #32
Fixed.

[2018-03-12 21:27] #32 closed

[2018-03-12 21:29] evelinec commented on #31
We should have a finalized title and abstract. After all the ID PRs are merged, we can double verify these two information.

[2018-03-12 21:30] evelinec commented on #23
This is to be reviewed again after all the ID fixes are merged.

[2018-03-13 13:58] GraceJansen commented on #26
@evelinec it looks like everything has been completed by Gkerta in this Issue. Are we now able to close it?

[2018-03-13 14:01] GraceJansen commented on #31
@evelinec I still cannot access the box link above. However using the document/table you emailed to me I've checked over all the details with Graham and he is fine with them all. There is a spelling mistake for bulkhead though in the table (spelt bullhead). This is the only concern he raised.

[2018-03-13 14:45] evelinec commented on #26
Double checked with Grace that she had verified all of these changes had been incorporated correctly in the guide. Closed.

[2018-03-13 14:45] #26 closed

[2018-03-13 15:00] evelinec commented on #31
@GraceJansen the document/table is the same box link I gave above. The bulkhead iguide is not ready at this time, that it isn't being adding in the guide.

[2018-03-13 15:02] evelinec commented on #23
@tevans78 can you review the draft again to see if all of your feedback had been addressed? Thanks.

[2018-03-13 15:19] sishida commented on #37
@evelinec: Thank you for your response! My thoughts are as follows:

Line 32: If the user's act of visiting the URL is what initiates the request, I think it's OK to say, "When you make a request..." even if the user doesn't currently understand what's going on "behind the scenes." However, we can leave it with the passive voice if you think that would make more sense. :)

Line 34: It's OK to ment

[2018-03-13 16:25] evelinec commented on #31
Fixed.

[2018-03-13 16:25] #31 closed

[2018-03-13 16:31] evelinec commented on #37
@sishida Thanks a lot for your inputs. I'll think about them a bit more, and make adjustment, where needed. Thank you!

[2018-03-13 17:14] evelinec commented on #37
All issues fixed.

[2018-03-13 17:14] #37 closed

[2018-03-13 17:34] tevans78 commented on #23
@evelinec I've been through it again and it's all sorted. Thank you.

[2018-03-13 18:08] Azquelt opened #39 "Suggestions for improvements"
I was asked to provide some feedback on the guide, here are my suggestions.

## Suggestions for the guide

1) I don't like the way we introduce the sample application
 - "The application that you will be working with is an inventory service, which stores the information about various JVMs that run on different systems."
   - Say what now?!
 - I can see why you've chosen these services (it allows c

[2018-03-13 18:16] evelinec commented on #23
Thanks a lot, @tevans78. Closed.

[2018-03-13 18:16] #23 closed

[2018-03-13 20:25] JunyiSun opened #41 "Test Review before publishing"
- [x] SystemClient needs to be updated, remember that we updated the SystemClient class in CDI to better handle exceptions? Also, this class need to be formatted correctly.

- [x] resource/CustomConfigSource.json should be moved out of start/ folder, and resource/ should be renamed to resources/ to make it consistent with other guide (At least that is the current structure we all discussed and agr

[2018-03-13 21:22] evelinec commented on #39
I'll take the first pass to clean up the `@Retry` annotation.

[2018-03-14 02:43] evelinec commented on #41
@JunyiSun what do you mean by the SystemClient class needs to be formatted correctly? Thanks

[2018-03-14 05:05] evelinec commented on #39
Re point 3, the team decided to remove the use of the @Retry annotation in this guide. We agreed it doesn't add value. The guide and code are much cleaner without it. Thanks for your suggestions about using the @Retry annotation correctly, we will have an issue to try it out as an improvement/new topic of the guide. This will not be covered for the current guide and time line.

[2018-03-14 05:12] evelinec commented on #39
Re point 4, the retry test case and related methods had been cleaned up. The test case class should be neater. As with your suggestion of "Integration testing as a topic is easily worth it's own guide which would cover it in detail", I think https://github.com/OpenLiberty/guides-common/issues/51 will be there to address it.

[2018-03-14 05:13] evelinec commented on #39
@JunyiSun can you help to handle this feedback pls? Thanks.
SystemClient

- buildUrl converts a URI to a string
- that string is later passed to the target, which can also take a URI
- just pass the URI around
- Should this class be a bean?

[2018-03-14 05:15] evelinec commented on #39
@Azquelt Thanks a lot for all your feedback. We're working on them. We will ask you to review once we address all the issues we can contain for this time.

[2018-03-14 14:34] JunyiSun commented on #41
@evelinec I mean lines need to be assigned

[2018-03-14 14:35] JunyiSun commented on #41
For example ```
} catch (Exception e) {
        System.out.println("ClientBuilderException");
            return null;
        }
[code]

[2018-03-14 15:21] evelinec commented on #39
Re the following classes, this is by our team's design to build on existing code. These classes are provided to user in the `start` directory, and they're not being mentioned in the guide. These classes are being used as part of the FT application. No changes for these.

- CustomConfigSource
-- Why is this even here?
-- Doesn't seem necessary for this guide, focus on FaultTolerance

- InventoryCon

[2018-03-14 15:25] evelinec commented on #39
Re the `InventoryManager` class, all of the issues mentioned had been addressed with the @Retry removal. Those code were added for testing the @Retry annotation.

- InventoryManager
-- the scenario is that the inventory service calls the system service. This class is "cheating" by reading the system service config.
-- InventoryManager probably shouldn't be handling JsonObjects
-- let inventorymana

[2018-03-14 15:37] evelinec commented on #39
Re `InventoryList` class, we are using this model to display the entries in the inventory. We may consider trying this out again, but this change will have impact on all of our other MP guides (also there's one guide that doesn't support Map by spec). Thus we will not cover this one for this time.

- InventoryList
-- could this be replaced by a simple Map?

[2018-03-14 19:50] evelinec commented on #41
I found two return null situation in the original SystemClient code.. @JunyiSun

In `buildUri()` method:
[code]

And in `buildClientBuilder()`:
[code]

[2018-03-14 19:55] evelinec commented on #39
Re point 2, we had omitted creating the SystemService and SystemClient classes; changed them to descriptions. About "emphasise that the user doesn't really need to worry about how it works", I'm hesitating adding an optional statement in the guide.

[2018-03-14 19:57] evelinec commented on #39
Re point 1, reworked the intro section, especially in the paragraph describing the `inventory` application. Still thinking about the flow of the whole intro section.

Note, "To make it easier to run this guide, we're deploying both services in the application on the same system, but they could be deployed on different systems." is not addressed in the intro, as we had a similar statement later in

[2018-03-14 20:03] JunyiSun commented on #41
@evelinec It's fine. They should be there and were added correctly. Don't worry about it. I don't think it's an problem anymore

[2018-03-15 15:13] evelinec commented on #41
Pls close this issue after your review @JunyiSun Thanks

[2018-03-15 17:25] #41 closed

[2018-03-15 17:26] JunyiSun opened #43 "Peer review on March 5th"
- [x] `resource` folder should be renamed to `resources`, and all the path in the code that refers to this folder should be fixed.

- [x] You may want to update the release date for this guide before publishing it

[2018-03-15 17:59] Azquelt commented on #39
Thanks @evelinec, you've done some great work updating the guide.

I meant you could annotate it with `@ApplicationScoped` but it looks like I misread the code.

I saw that `InventoryManager` calls `new SystemClient()` without passing any arguments and assumed that `SystemClient` was an object with no state. Looking again, I see it does hold state, the `url` field is set when `init()` is called.

[2018-03-15 19:22] evelinec opened #44 "Better exercise for users to experiment with automated tests"
the `FaultToleranceTest.java` file. Rerun the Maven build. You see a test failure occur for the
-`testRetryGettingSystemProperties()` test case.
+`testFallbackForGet()` test case.
  @Azquelt
Azquelt 2 hours ago  Member
Could we, at this point, have the user remove or comment out the @Fallback annotation in the InventoryManager?

I.e. introduce a bug into the application and show that the tests pic

[2018-03-15 19:30] evelinec commented on #43
Fixed in #42

[2018-03-15 19:46] JunyiSun commented on #43
@evelinec You haven't change `resource` to `resources` in this file in both start and finish https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/blob/master/finish/src/main/java/io/openliberty/guides/config/CustomConfigSource.java

Then the json file won't be picked up.

[2018-03-15 19:47] evelinec commented on #43
Got it! Thanks for pointing it out!

[2018-03-15 20:01] evelinec commented on #43
Fixed in #45 pls take a look at the latest commit. Thanks.

[2018-03-15 20:36] #43 closed

[2018-03-15 21:08] yeekangc commented on #44
See https://github.com/OpenLiberty/draft-guide-microprofile-faulttolerance-intro/pull/42 for background.

[2018-03-16 03:50] yeekangc opened #46 "FT: Review feedback"
General

- [x] Use "services" over "application" where appropriate to be consistent with other guides?

What you'll learn

- [x] Repetitive and can be further simplified

- [x] Reconcile the use of 'inventory management application' and 'inventory service'

- [x] _The implementation of the application and its services are provided for you. You can find the system service in the src/main/java/io/op

[2018-03-16 06:33] evelinec commented on #44
I got an answer for this issue as well.

[2018-03-16 06:35] evelinec commented on #39
Need to discuss with the team the appropriate approach to handle the above mentioned bug, as there were background on why the code is at where it is now.

[2018-03-16 12:11] yeekangc commented on #44
Hi @evelinec, if the answer you meant here is what is in #47, I don't think that's what @Azquelt meant.  Then, we don't have to rush this in and can take the time to work out a better answer.

[2018-03-16 14:12] evelinec commented on #44
Yes, but Andrew's suggestion basically does the opposite thing of what the current test case handles and will need a further explanation in the guide to make it clear. If we commented out the `changeSystemProperty()` method, basically the there's no fallback condition, thus the current result assertion fails with the message that user can see right away; no need to explain anything in the guide. I

[2018-03-16 14:21] yeekangc commented on #44
Either we don't include those 2 sentences that ask users to experiment now -- the tests should still work -- or we update them to reference `changeSystemProperty()`.  This is optional in my mind.

Further improvement to experiment as Andrew suggested is certainly for the future.  Hope this is clear now.

[2018-03-16 15:50] evelinec commented on #44
The short "quick to try" type of thing is always optional for the guide. Already made the change for the method name.

[2018-03-16 15:53] evelinec commented on #44
@Azquelt would you clarify what's the intend of suggesting to disable the @Fallback annotation in the app, and what do you think the test should handle?

[2018-03-16 16:10] Azquelt commented on #44
Sure.

The guide shows how to use `@Fallback` and tests that it works. Removing `@Fallback` shows that if you had written the code wrongly, the test would fail. In this way it demonstrates the value of the `@Fallback` annotation and the usefulness of the test.

As it's written at the moment, you are breaking the test (by removing the change system property utility call) and then showing that the t

[2018-03-16 16:15] Azquelt commented on #44
However, I note that you said

If that's the case then maybe you could just suggest things that the user could add tests for?

The reason I wrote the comment in the review was that I wasn't sure what the value of changing the test and seeing it fail was. It seemed like changing the app and seeing the test fail would be a better demonstration.

[2018-03-16 16:48] yeekangc commented on #44
Yes, improvements should be considered.  We can look at what we can do here with this issue.

Then, we can take it forward to other guides too.  This portion of the guides isn't ideal at the moment.

[2018-03-16 17:46] yeekangc commented on #46
Should make another pass at this guide and the provided implementation with a fresh critical pair of eyes to tidy things up and make things clearer.  This can be a new issue.

[2018-03-16 19:07] evelinec commented on #39
There are two path in SystemClient class design, one is to keep it as a client class which we will improve in the near future to make it a proper REST client. Originally with this path, we decided not to create multiple instances when it's being used in the InventoryManager class, thus, we ran into this bug. The 2nd path is to turn it back to utility and use as one so it will not have this bug. Si

[2018-03-16 19:08] evelinec commented on #39
@Azquelt Would you take a look at the latest guide and see if all the issues raised had been addressed or answered? When all are good, let us know. Thank you.

[2018-03-16 19:27] JunyiSun opened #48 "FT: Last test review"
- "The following two steps set up the dynamic configuration on the system service and its client. You can move on to the next section, which adds the fallback mechanism on the inventory service."

You can move on to the next section??? Why you can move on to the next section?

- I think the following paragraphs can be simplified, they are too long and confusing, especially now you don't show the c

[2018-03-16 19:58] evelinec commented on #48
Ok, this is the same issue raised in #46. Will move forward for now.

[2018-03-16 20:09] yeekangc commented on #48
Agree with @evelinec.  Should fix some of these sooner rather than later though especially for point 2.

[2018-03-19 10:39] Azquelt commented on #39
I think everything I raised has been addressed.

I noticed another issue: InventoryList is not thread safe. I think you'll get a concurrentmodifixationexception if one thread tries to retrieve the list while another is adding hosts to it. You might also get race conditions which cause a host to be added twice.

It doesn't really affect what youre showing in this guide, but it's not ideal to have s

[2018-03-19 14:30] evelinec commented on #39
@Azquelt Sure. Open the issue, we'll look into it and fix. Thank you.

[2018-03-19 20:09] #39 closed

[2018-03-20 10:18] Azquelt opened #49 "InventoryList is not thread safe"
`InventoryList` is not thread safe. You will get `ConcurrentModificationException`s if one thread is adding hosts while another is reading them. You could also end up adding the same host twice if two threads call `addtoInventoryList` at the same time.

This class needs to be synchronized appropriately to make it thread safe, or it needs to be documented to be not thread safe and the rest of the c

[2018-03-23 14:56] evelinec commented on #49
For the thread safe issue, review feedback from Andrew:

    As you're using CopyOnWriteArrayList, I don't think you need the synchronized block in findHost.

    From https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/CopyOnWriteArrayList.html#iterator()

    Otherwise that looks safe and I approve.

    Whether or not CopyOnWriteArrayList would be the most appropriate solution is a w

[2018-03-26 20:32] evelinec commented on #49
The `InventoryList` data model class is to be revisited via https://github.com/OpenLiberty/guides-common/issues/95

[2018-03-28 04:33] evelinec commented on #49
Fixed thread safe issue in #51

[2018-03-28 04:33] evelinec commented on #48
Fixed in #51

[2018-03-28 04:34] evelinec commented on #46
Fixed the last feedback in #51

- [ ] I will express the introductory paragraphs in terms of the services provided and focus on what's relevant to FT/Fallback. Should simplify them too.

[2018-03-28 04:37] evelinec commented on #44
Attempted fixing it based on your suggestion, change is in #51

[2018-04-12 17:47] evelinec opened #52 "FT: Implementation revisit"
Revisit the implementation of the application for the FT guide to identify area of improvement.

[2018-04-12 17:52] evelinec opened #53 "FT: re-review the guide"
Review the guide with a fresh pair of eyes.

[2018-04-12 18:30] yeekangc commented on #44
IOW, I think we need more than what we have in #51 to provide meaningful exercise(s) for developers to consider.  We can work out a prototype using the Fallback guide and then push it across all guides.

[2018-04-19 15:57] mbroz2 opened #54 "Remove the REST tag from the guide"
Although the sample uses REST, the guide itself doesn't teach the user anything about it so we should not tag it as such.

[2018-05-11 10:41] lauracowen opened #55 "Doesn't actually describe in the intro what the fallback actually does"
In the "What you'll learn" and "Getting Started" sections, the text alludes to:

- "fallbacks offer an alternative result when an execution does not complete successfully."
- "You will add fault tolerance to the inventory service so that it reacts accordingly when the system service is unavailable."
- "to define criteria for when to provide an alternative solution for a failed execution."
- "The f

[2018-05-11 18:18] JunyiSun opened #56 "Navigation"
Get rid of "Now, navigate back to the start directory to begin." under "Try what you'll build" section.

Move the sentence with this context "navigate to the start directory" to the section where user starts working with the implementation.

[2018-07-19 19:37] evelinec commented on #49
The above mentioned issues are resolved in #65.

[2018-07-19 19:37] #49 closed

[2018-07-23 08:58] scottcurtis2605 opened #66 "Building the application causes build failures"
In the 'building and running the application' section of the guide, running Maven's install phase produces a build failure due, even after copy-pasting 'InventoryManager.java' file into the specified directory. This is due to a mismatch in the number of parameters passed into the InventoryList's constructor.

Here is the error which was produced:

[code]

I was able to fix this by replacing the 'I

[2018-07-23 09:06] scottcurtis2605 opened #67 "No explanation for 'loose config'"
In the 'building and running the application' section, the guide mentions to 'make sure your application is using loose config'. There is no explanation within this guide as to what loose configuration is.

In contrast, the 'https://openliberty.io/guides/gradle-intro.html' guide mentions loose configuration in the 'configure your project' section, and provides an external link to further explain l

[2018-07-23 09:11] scottcurtis2605 opened #68 "'inMaintenance()' does not exist"
In the 'enabling fault tolerance' section, the guide reads: 'First, the src/main/java/io/openliberty/guides/system/SystemResource.java class has the **inMaintenance()** condition...'.

This should be corrected to: 'First, the src/main/java/io/openliberty/guides/system/SystemResource.java class has the **isInMaintenance()** condition...'

Just a minor typo on the function name, but would be useful

[2018-07-24 20:04] evelinec commented on #68
@andrewdes This should be caught in the recent data model PR review and testing. Pls take a look.

[2018-07-24 20:06] evelinec commented on #67
@Kubik42 can you take a look at this one? This is from common adoc.

[2018-07-24 20:08] evelinec commented on #66
@andrewdes this needs to be looked at asap.

[2018-07-24 21:59] andrewdes commented on #66
Hi @scottcurtis2605, do you mind re-trying the guide and seeing if the problem persists?

I just checked and the openliberty.io website has the latest InventoryManager.java code. Perhaps when you tried the guide the updated InventoryManager.java code was not displayed on the website (since copying the InventoryManager.java from the finish file worked).

[2018-07-25 08:38] scottcurtis2605 commented on #66
Hi @andrewdes, just ran a JavaScript alert to check when the page was last updated which was yesterday, and then re-tried the guide.

All seems to be working now. Thank you for resolving this.

[2018-07-25 08:38] #66 closed

[2018-07-26 14:55] andrewdes commented on #68
@scottcurtis2605 the issue has been fixed here https://github.com/OpenLiberty/guide-microprofile-fallback/commit/c5e6af7ece4b526ea434ee6b4f325d99e7b60359, and the changes can be seen on the here:  https://openliberty.io/guides/microprofile-fallback.html. Can we close this issue?

[2018-07-26 15:01] #68 closed

[2018-07-26 15:01] scottcurtis2605 commented on #68
Yes, apologies about that. Thank-you for the fix!

[2018-07-31 17:46] andrewdes commented on #54
@mbroz2 removed here https://github.com/OpenLiberty/guide-microprofile-fallback/pull/70. Can this issue be closed?

[2018-07-31 17:47] #56 closed

[2018-07-31 18:26] #54 closed

[2018-08-09 14:55] #48 closed

[2018-08-14 19:09] Kubik42 commented on #67
Fixed. Remove mention of loose config entirely as we're using it everywhere anyway, it'll just take away focus from the guide.

[2018-08-21 14:15] evelinec commented on #67
Thank you @scottcurtis2605 for your review and feedback. The gradle intro guide explains about the "loose application" option. It's different from this issue.

[2018-09-27 19:22] justineechen opened #78 "Missing 'faulttolerance' directory to create test in start directory"
Missing `faulttolerance` directory.

[2018-10-19 19:07] justineechen commented on #78
Addressed in this PR: https://github.com/OpenLiberty/guide-microprofile-fallback/pull/80

[2018-10-22 14:28] #78 closed

[2018-10-23 03:38] #67 closed

[2018-12-14 19:31] justineechen opened #81 "Multipane Issues"
- [ ] hotspots in certain sections are not picking up
- [x] remove feature version in Enabling fault tolerance

[2018-12-16 18:19] justineechen commented on #81
- [ ] "You can test the fault tolerance mechanism of your microservices by dynamically changing the io_openliberty_guides_system_inMaintenance property value to true in the resources/CustomConfigSource.json file, " ... will become a code_command that says "Edit the configuration file."

- [ ] CustomConfigSource.json file not showing up properly in code panel

- [ ] Potentially changing the wording

[2018-12-18 22:00] Rachelwrq commented on #81
### Getting Started
#### Try what you’ll build
- [ ] `mvn clean install liberty:start-server` failed

### Enabling fault tolerance
#### Adding the @Fallback annotation
- [ ] The instruction in the action arrow needs change.

### At the end of the guide
- [ ] Add "in Open Liberty" to the first sentence that appears after `== Great work! You're done!`

[2018-12-18 22:04] Rachelwrq commented on #81
### Checklist for multipane conversion
**Through the browser:**
- [ ] Read over guide and run through all commands (copy and paste using browser etc..)
- [ ] Test the actual application (use it, hit endpoints, etc.)
- [x] No files in the middle panel (guide section)
- [ ] Appropriate files are being displayed on the right hand side at the right time
- [x] Any mention of code in the right panel sho

[2019-01-08 18:22] justineechen commented on #81
2nd round
- [ ] guide author
- [ ] update to master
- [ ] mvn instructions
- [ ] if there is a clean comment, let consider or discuss it
- [ ] make sure liberty:stop-server before the testing (assumed testing is at the end)
- [ ] update the version of cxf-rt-rs-client and cxf-rt-rs-extension-providers to 3.2.6

[2019-01-08 18:42] justineechen commented on #81
2nd round:
- [ ] guide author
- [ ] update to master
- [ ] mvn instructions
- [ ] if there is a clean comment, let consider or discuss it
- [ ] make sure liberty:stop-server before the testing (assumed testing is at the end)

[2019-02-12 18:01] gkwan-ibm opened #84 "multipane issues"
- [x] should format the following lines in the pom.xml better
[code]
- [x] should format the following line in the server.xml better
`<httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>`
- [x] "Try what you’ll build", the mvn command should remove the clean

[2019-02-13 14:32] justineechen commented on #84
https://github.com/OpenLiberty/guide-microprofile-fallback/commit/4d6cf2a0f9f1129595e4fb71e1505506b659215b

[2019-02-14 18:35] #84 closed

[2019-02-27 16:53] gkwan-ibm opened #85 "Post multipane - why Related Links at the end of README.adoc"
check whether "Related Links" should or should not be at the end of the README.adoc

[2019-02-28 21:27] wojtczat opened #86 "Post-Publishing Test"
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, qa-guides
- [x] Read through the guide
- [x] Clone repo and test finish directory with no error
- [x] Run `diff -r start/ finish/`
- [x] Follow the instruction in the guide to test that it is working
- [x] Use the `copy` buttons instead of typing
- [x] Links open in new t

[2019-02-28 21:33] wojtczat commented on #86
## Try What You’ll Build
- [ ] http://localhost:9080/inventory/systems/localhost should not be highlighted
- [ ] "Update the CustomConfigSource configuration file." Highlights code in the file (occurs twice)
## Enabling Fault Tolerance
 - [ ] Status.SERVICE_UNAVAILABLE highlights 3 lines when it should only highlight one
- [ ] src/main/java/io/openliberty/guides/inventory/client/SystemClient.java

[2019-03-05 17:58] evelinec commented on #86
Regarding the following point, looks like the description for the `SystemClient` class need to be updated, when it was switched to use the rest client.

The following 2 paragraphs need some updates:
[code]

- [ ] “The public getProperties() method in this class calls the getPropertiesHelper() method.” getPropertiesHelper method doesn’t even exist in the code files and it isn’t hot spotted this sho

[2019-03-05 20:27] evelinec commented on #86
I found the following requested hotspots are not necessary:

- [ ]  "Your Maven pom.xml is already" pom.xml does not have hotspot
=> not necessary because the content of this statement is referring to starting the application in this server instance. Adding hotspot to the entire `pom.xml` file here doesn't give the specifit indication to the content of this sentence, but rather distract the attent

[2019-03-05 20:32] evelinec commented on #86
- [ ] http://localhost:9080/inventory/systems/localhost should not be highlighted
=> This link is a clickable link to view the results, it's got the valid hyperlink syntax which is highlighted. why do you think it should not be highlighted? maybe I miss understanding something?

[2019-03-05 20:35] evelinec commented on #86
- [ ] src/main/java/io/openliberty/guides/inventory/client/SystemClient.java is too long with the left side bar open.
=> This one does look a little odd when the TOC pane is opened. The file with path shows up as a big block. But I think that's file. It's more specific to include the file path, so user know exactly which file is being referring to.

[2019-03-05 20:41] evelinec commented on #86
- mvn install and mvn liberty:start server could be combined into one command.
=> Actually, this part of the text is from a common included file, ie, `include::{common-includes}/mvnbuild.adoc[]`, which we used to have the `mvn install` and `mvn liberty:start-server` commands described separately. Other guides may have their own building and running the application commands written to their specifi

[2019-03-06 16:54] evelinec commented on #86
@wojtczat can you review the changes described and addressed in the issue on https://openliberty.io/guides/microprofile-fallback.html? Thanks.

[2019-03-07 19:06] wojtczat commented on #86
@evelinec Looks good Eveline!

[2019-03-07 19:06] #86 closed

[2019-03-11 15:35] #81 closed

[2019-03-12 19:48] justineechen commented on #85
Removed the Related Links section from README: https://github.com/OpenLiberty/guide-microprofile-fallback/pull/89

[2019-03-13 15:00] #85 closed

[2019-10-07 13:45] MaiHameed opened #98 "Peer Review"
As per the checklist found [here](https://github.com/OpenLiberty/draft-guides-template/issues/12).

Peer Review: review to be done by a peer member.

- [x] Check that the guide has working instructions and sample code
- [x] Check the quality of code according to the best coding practices
- [x] Check the quality and presentation of guide according to [Structure and Style Guideline](https://github.c

[2019-10-07 17:11] evelinec commented on #98
Added SEO tags in https://github.com/OpenLiberty/guide-microprofile-fallback/pull/97/commits/6762eac9b02b56c74a0651d9f28e216df875e0a9. @MaiHameed can you take a look? Thanks.

[2019-11-07 19:39] evelinec commented on #98
@MaiHameed can you review and close this issue? Thanks

[2019-11-07 19:42] evelinec opened #102 "Pre-Publishing Tests"
Pre-Publishing Tests: since the latest change includes the dev mode conversion, the tests are to be done on all 3 platforms. See PR #101 for the detail of the changes and use the `qa` staging site for testing.

Windows - Danny:
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, draft-guides
- [x] Read through the guide
-

[2019-11-11 21:15] evelinec commented on #102
Ran `diff` command but there're differences that are required by dev mode.

[2019-11-11 21:16] evelinec commented on #102
Team decided not to update the release date.

[2019-11-11 21:17] #98 closed

[2019-11-11 21:53] evelinec commented on #102
@jonathanxue said that he had completed the planned tests for this guide.

[2019-11-11 21:53] #102 closed

[2019-11-13 16:27] evelinec opened #105 "Daily build is not being run in daily build tests after dev mode changes"
Should be similar problem as https://github.com/OpenLiberty/guide-rest-intro/issues/103.

- [x] The daily build runtimeURL is not being specified in the pom.xml for the daily build runs

[2019-11-15 20:55] NimG98 commented on #105
Daily build now runs with `<install><runtimeURL>...</runtimeURL><install>`

[2019-11-22 18:38] evelinec commented on #105
Checked that the fallback daily build test grep the correct build to test now. Closed.

[2019-11-22 18:38] #105 closed

[2019-12-10 20:43] yeekangc commented on #46
Expect feedback to be appropriately addressed and PRs merged.

[2020-01-15 17:19] evelinec commented on #53
#52 is sufficient. This issue doesn't seem needed.

[2020-01-15 17:19] #53 closed

[2020-03-30 16:15] Emily-Jiang opened #126 "Update this guide to use MP FT 2.1"
Update Fallback annotation to add two parameters we added for MP FT 2.1: applyOn and skipOn.

[2020-04-13 14:49] gkwan-ibm commented on #126
- working on Readme
- update the mp 3.3, jupiter, dependencies version

[2020-04-14 15:07] gkwan-ibm commented on #126
- ready to dev content review

[2020-04-15 14:40] gkwan-ibm commented on #126
- addressed dev content review review
- create a card in Wekan

[2020-04-21 14:36] ankitagrawa commented on #126
- Waiting for Emily to review.

[2020-04-21 15:17] Emily-Jiang commented on #126
@Azquelt @Joseph-Cass please review.

[2020-04-21 15:24] Azquelt commented on #126
There's no PR to review, but the changes on the `mpFT2.1` branch look good to me.

[2020-04-22 10:14] Emily-Jiang commented on #126
Just a minor comment: it seems the tests stay general and it doesn't test the new fallback capabilities. Otherwise, it looks good.

[2020-04-22 16:46] yeekangc commented on #126
+1 to add tests to cover the new capabilities.

[2020-05-13 16:23] #126 closed

[2020-11-25 10:48] Emily-Jiang opened #143 "Update this guid to use FT 3.0"

[2021-01-12 20:39] gkwan-ibm commented on #143
- only update the pom.xml and server.xml for latest versions

[2021-02-23 22:12] gkwan-ibm commented on #143
Based on https://github.com/OpenLiberty/guides-common/issues/555#issue-754605505, just need to update the pom.xml and server.xml to latest versions

[2021-06-01 19:42] gkwan-ibm commented on #143
close
- the [guide](https://openliberty.io/guides/microprofile-fallback.html) was updated

[2021-06-01 19:42] #143 closed